<!DOCTYPE html>
<html lang="en">
<head>
    <title>Akinator Llama</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="game-container">
        <img src="/images/image.png" alt="Akinator Llama" class="llama">
        <div class="question-box">
            <p id="question-text">Think of a club... I'll guess it! Ready?</p>
        </div>
        <div class="answer-buttons">
            <button onclick="answer('yes')">Yes</button>
            <button onclick="answer('no')">No</button>
        </div>
    </div>
    <script src="/script.js"></script>
</body>
</html>
