.startBody {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("/images/circuit3.gif");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

.start-container{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.game-container,.info-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.llama {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.question-box {
    background: #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.answer-buttons button {
    width: 100px;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.answer-buttons button:first-child {
    background-color: green;
    color: white;
}

.answer-buttons button:last-child {
    background-color: red;
    color: white;
}

.answer-buttons button:hover {
    opacity: 0.8;
}

.startScreenButton button{
    margin-top: 20px;
    width: 100px;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.startScreenButton button:hover{
    opacity: 0.8;
}

.strLlama{
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}